<div id="menu" class="menucontain">
    <table border="0" cellpadding="0" cellspacing="0" style="width: 98%; height: 70px; margin: 0 auto; padding: 0 1%">
        <tr>
            <td align="left" valign="middle" width="25%"><div class="main-page lateral-slide-menu-main-page">
                <a href="javascript:void(0)"  class="toggle-menu" lateral-slide-menu-toggle><img src="./ng-images/link1.png" alt="#" /></a>
            </div>
            </td>
            <td align="center" valign="middle" width="50%"><img src="./ng-images/mygrat.png" alt="#" class="containlogo"  style="display: block; margin: 0 auto;"/></td>
            <td align="right" valign="middle" width="25%"></td>



        </tr>


    </table>
</div>



<div class="maincontent">


    <div class="detailbody">
    <div class="detailwrapper">

        <div class="detailwrappertext1">
        <h2> {{gratDetails.title}}</h2>
        <!--<label> Form <strong>User Name</strong></label>-->

        <span>{{gratDetails.time}}</span>

            <div class="clear"></div>

        </div>

        <div class="detailwrapperimage" ng-if="gratDetails.filetype == 'image'">
            <img src="http://torqkd.com/uploads/video1/images/{{gratDetails.filename}}.jpg">
        </div>
        <div class="detailwrappervideo" ng-if="gratDetails.filetype == 'video'">
        <videogular ng-init="vidsources = [{src: (gratDetails.video_url), type: 'video/mp4'}]">
            <vg-media vg-src="vidsources" vg-native-controls="true" ></vg-media>
            <vg-poster vg-url="'http://torqkd.com/uploads/video1/thumb/{{gratDetails.filename}}.jpg'"></vg-poster>
        </videogular>
        </div>

        <div class="detailwrappertext2">
        <h2>Message</h2>

            {{gratDetails.message}}

            </div>


        </div>


<button value="Forward" ng-click="selTemplate(gratDetails)" class="Forwardbtn"> Forward It</button>


    </div>  </div>