<div class="footerblock">
    <div class="footer_link">
        <table width="100%" border="0"  cellspacing="0" cellpadding="0">
            <tr>
                <td align="center" valign="middle" class="icon_s" ><a ui-sref="home"><img src="./ng-images/icon1.png" alt="" ></a></td>
                <td align="center" valign="middle" class="icon_s"><a href="javascript:void(0);" ng-click="gotoPopular()"><img src="./ng-images/icon2.png" alt=""></a></td>
                <td align="center" valign="middle"  class="icon_b"><a ui-sref="record"><img src="./ng-images/icon_menu.png" style="margin-top:-22px;"></a></td>
                <td align="center" valign="middle" class="icon_s"><a ui-sref="reminders"><img src="./ng-images/icon3.png" alt=""></a></td>
                <td align="center" valign="middle" class="icon_s"><a ui-sref="friends"><img src="./ng-images/icon4.png" alt=""></a></td>
            </tr>
        </table>


    </div>

</div>