<!-- MENU -->

<lateral-slide-menu ng-cloak>

    <ul>

        <li><a ui-sref="home">
            <img src="https://graph.facebook.com/{{userimage}}/picture?type=small" alt="#" class="proimg" style="margin-top: 0px;"/>
            <label><strong>{{name}}</strong></label></a>
            <div class="clear"></div>

        </li>


        <li><a ui-sref="profile">
            <img src="./ng-images/profile_icon.png" alt="#" style="margin-top: 12px;"/>
            <label>Profile</label></a>

        <div class="clear"></div>
        </li>


        <li><a ui-sref="home"><img src="./ng-images/g_icon.png" alt="#"/>
            <label >GratiTubes</label></a>

        <div class="clear"></div>
        </li>

        <li><a ui-sref="gratitube-sent"><img src="./ng-images/gratsend2.png" alt="#" style="margin-top: 3px;"/>
            <label style="padding-left: 4px;">GratiTubes Sent</label></a>

        <div class="clear"></div>
        </li>



        <li><a ui-sref="friends"><img src="./ng-images/fr_icon.png" alt="#"/>
            <label>Friends</label> <span>{{friendno}}</span></a>

            <div class="clear"></div>
        </li>



        <!-- <li><a href="#"><img src="./ng-images/fo_icon.png" alt="#"/>
             <label>Followers</label> <span>11</span></a>

             <div class="clear"></div>
         </li>-->


        <li><a ui-sref="reminders"><img src="./ng-images/re_icon.png" alt="#"/>
            <label>Reminders  </label> </a>
            <div class="clear"></div>

        </li>

        <li><a ui-sref="friends"><img src="./ng-images/popular.png" alt="#"/>
            <label>Popular</label> </a>

            <div class="clear"></div>
        </li>

        <li><a ui-sref="chartity"><img src="./ng-images/charitiesicon.png" alt="#" style="margin-top: 3px;"/>
            <label>Chartities</label></a>

            <div class="clear"></div>
        </li>

        <li><a ui-sref="invite"><img src="./ng-images/invite-icon.png" alt="#" style="margin-top: 3px;"/>
            <label>Invitition</label></a>

            <div class="clear"></div>
        </li>



        <li><a ui-sref="logout"><img src="./ng-images/logout.png" alt="#" style="margin-top: 12px;"/>
            <label>Logout</label></a>
            <div class="clear"></div>

        </li>
    </ul>

</lateral-slide-menu>

<!-- main page -->



