<div id="menu" class="menucontain">
    <table border="0" cellpadding="0" cellspacing="0" style="width: 98%; height: 70px; margin: 0 auto; padding: 0 1%">
        <tr>
            <td align="left" valign="middle" width="25%"><div class="main-page lateral-slide-menu-main-page">
                <a href="javascript:void(0)"  class="toggle-menu" lateral-slide-menu-toggle><img src="./ng-images/link1.png" alt="#" /></a>
            </div>
            </td>
            <td align="center" valign="middle" width="50%"><img src="./ng-images/reminders.png" alt="#" class="containlogo"  style="display: block; margin: 0 auto;"/></td>
            <td align="right" valign="middle" width="25%"> <a ui-sref="add-reminder"  class="plasemenu"><img src="./ng-images/plus.png" alt="#" style="cursor: pointer;  " /></a></td>



        </tr>


    </table>
</div>

<div class="maincontent">
    <div class="calendarwrapper">
        <div class="calendar" ng-model="eventSources" calendar="myCalendar3" ui-calendar="uiConfig.calendar"></div>

        <div class="eventlistmain">

        <div class="eventlist" ng-repeat="event in events">

            <span ng-click="vieweventdetailspopup(event)">
                <span>{{converttodateformat(event.start)}}</span>
                <label>{{event.title}}</label>

            </span>
        </div>

        </div>


    </div>
</div>

