<div class="sliderbody">

    <div class="sliderbodywrapper">


        <p style="font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    color: #fff;
    line-height: 18px;
    font-weight: bold;
    padding:25px 0 25px 0; text-shadow: none;">

            Now lorem ipsum dolor

        </p>


        <div style=" margin: 30px auto" class="slider5wrapper">


        <img src="./ng-images/mob_img4.png" alt="#" style="display: block; margin: 20px auto; float: left;" class="slider5img"/>

        <p style="    float: right;

    text-align: left;
    margin: 50px 0 0 0;" class="slider5text">

            <span style="color: #9cb2db; font-weight: 700;">Make a Donation </span>

            <br/>


            Lorem ipsum dolor sit amet consectetur adipiscing elit.sed diam non
            <br/>  <br/>
            <span style="color: #9cb2db; font-weight: 700;">Apply a video Effect  </span>

            <br/>


            Lorem ipsum dolor sit amet consectetur adipiscing elit.sed diam non


        </p>

        <div class="clear"></div>
        </div>




    </div>

</div>