
<div class="sliderbody">

    <div class="sliderbodywrapper">

        <P style="font-family: Arial, Helvetica, sans-serif;

    text-align: center;
    color: #fff;
    line-height:22px;
    font-weight: bold;
    padding:25px 0 25px 0; text-shadow: none;">Get Started Creating and Sharing your GratiTube with the World!</P>

        <P style="font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    color: #7d93cb;
    line-height: 22px;
    font-weight: bold;
    padding:0px 0 25px 0; text-shadow: none;">Lorem ipsum dolor sit amet consectetur adipiscing elit</P>

<!--<a href="http://gratitube-app.influxiq.com/facebook"><img src="./ng-images/btn.png" alt="#" style="display: block; margin: 20px auto;"/></a>-->
<a class="fblogin" ng-click="loginfacebook()" href="javascript:void(0)"><img  ng-click="loginfacebook()" src="./ng-images/btn.png" alt="#" style="display: block; margin: 20px auto;"/></a>






        </div>

</div>