<div class="sliderbody">

    <div class="sliderbodywrapper">
<img src="./ng-images/logo_tr.png" alt="#" style="display: block; margin: 5px auto; width: 248px;"/>

<p style="font-family: Arial, Helvetica, sans-serif;

    text-align: center;
    color: #bcafc1;
    line-height: 16px;
    font-weight: bold;
    padding:25px 0 0 0; text-shadow: none;"><strong>Congratulations!</strong>
<br/>

    You are about to let someone know you are grateful for them and that is in a way
    are grateful for them and that is in a way changing the world one person at a time.

</p>


<img src="./ng-images/img2.png" alt="#" style="display: block; margin: 20px auto; width: 100%; "/>

<p style="    font-size: 14px;
    color: #fff;
    font-weight: normal;
    line-height: 14px;">Ready to start your first GratiTube?</p>

</div>

</div>